@import '../../styles/settings';
@import '../../styles/tools';

.c-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey-med;
  margin: 0 0.8rem;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: $background-color;
  z-index: 1;
}

  .c-header__btn {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0;
    @include mq($from: tablet) {
      display: none;
    }
  }

  .c-header__text {
    margin: 0 3rem;
    width: 100%;
    text-align: center;
  }
