@import '../../styles/settings';
@import '../../styles/tools';

$season-menu-padding: 1.5rem;

.c-season-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $background-color;
  min-width: 300px;
  padding: $season-menu-padding;
  padding-right: $season-menu-padding + 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  max-height: 100%;
  overflow-y: scroll;
  transform: translateX(-110%);
  transition: transform 0.3s;
  z-index: 1;
  @include mq($from: tablet) {
    z-index: 0;
    min-width: $sidebar-width-desktop;
    position: static;
    top: auto;
    left: auto;
    transform: translateX(0);
    height: 100%;
    box-shadow: none;
  }
}

  .c-season-menu--is-open {
    transform: translateX(0);
  }

  .c-season-menu__overlay {
    // To stop pose overriding it on exit animation
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000000, 0.5);
    z-index: 1;
  }

  .c-season-menu__button {
    display: block;
    padding: 0.6rem 0;
    width: 100%;
    text-align: left;
    opacity: 0.7;
  }

    .c-season-menu__button--selected {
      opacity: 1;
    }

  .c-season-menu__loading-spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .c-season-menu__close-btn {
    position: absolute;
    right: $season-menu-padding;
    top: $season-menu-padding;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0;
    @include mq($from: tablet) {
      display: none;
    }
  }
