$background-color: #FFFFFF !default;
$primary-color: #5CB5CD !default;
$loading-spinner-color: #D0D3D4 !default;
$white-color: #FFFFFF !default;
$grey-light: #EEEEEE !default;
$grey-med: #d1cdcd !default;
$black-color: #000000 !default;
$primary-text-color: transparentize($black-color, 0.15);
