@import './../../styles/settings';
@import './../../styles/tools';

.c-view-app-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;

  @include mq($from: tablet) {
    flex-direction: row-reverse;
    min-height: 0;
    max-width: 400px;
    margin: auto;
  }
}
