@import '../../styles/settings';
@import '../../styles/tools';

.c-all-seasons__loading-spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-all-seasons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .c-all-seasons__season {
    margin-bottom: 2rem;
    @include mq($from: tablet) {
      margin-bottom: 3rem;
    }
  }
